*
!app/api
!app/backup
!app/config
!app/extensions
!app/middlewares
!app/migrations
!app/plugins
!app/public
!app/helper

!app/package.json
# !app/yarn.lock
!app/.eslint*
!app/README.md
!app/favicon.ico

!ui/public
!ui/src
!ui/.umirc.ts
!ui/package.json
!ui/tsconfig.json
!ui/typings.d.ts
# !ui/yarn.lock